<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="styles/styles.css" />
		<link
			rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
		/>

		<!-- Only for grids. Can be dne manually if y'all dont accept materialize or bootstrap -->
		<link
			rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css"
		/>

		<title>Inkers Internship</title>
	</head>

	<body>
		<%- include('nav.ejs') %> <% if (user) { %> <%- include('main.ejs') %> <% }
		else { %> <%- include('noauth.ejs') %> <% } %>

		<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js"></script>
		<script>
			document.addEventListener('DOMContentLoaded', function() {
				function update(e) {
					var message = Array.from(e)
						.map(file => {
							return file.name;
						})
						.join('<br>');
					document.querySelector('p#loaded').innerHTML = message;
				}
				var elems = document.querySelectorAll('.materialboxed');
				var instances = M.Materialbox.init(elems, options);
			});
		</script>
	</body>
</html>
