<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include('head.ejs') %>
		<title>Inkers Log</title>
	</head>
	<body>
		<%- include('nav.ejs') %>
		<div class="section row">
			<%- include('loginLogs.ejs') %> <%- include('uploadLogs.ejs') %>
			<p class="small grey-text center text-darken-1">
				The results can be paginated if thats what you want
			</p>
		</div>
	</body>
</html>
