<div class="title-bar">
	<a class="active" href="#"
		><i class="fa fa-fw fa-address-book"></i>Inkers Internship</a
	>
	<% if(user){ %>
	<a class="right proactive" href="/logout"
		><i class="fa fa-fw  fa-sign-out"></i>Logout</a
	>
	<% } else { %>
	<a class="right proactive" href="/login"
		><i class="fa fa-fw  fa-sign-in"></i>Login</a
	>
	<% } %>
</div>
