<div class="title-bar">
	<a class="active" href="/"
		><i class="fa fa-fw fa-address-book"></i>Inkers Internship</a
	>
	<% if(user){ %>
	<a class="right" href="/logout"><i class="fa fa-fw fa-sign-out"></i>Logout</a>
	<a class="right" href="/logs"><i class="fa fa-fw fa-history"></i>Logs</a>
	<a class="right" href="/auth/changePassword"
		><i class="fa fa-fw fa-key"></i>Change Password</a
	>
	<% } else { %>
	<a class="right proactive" href="/login"
		><i class="fa fa-fw fa-sign-in"></i>Login</a
	>
	<% } %>
</div>
