<div
	class="row"
	style="margin-top: 4rem; text-align: center; font-family: 'Courier New', Courier, monospace;"
>
	<div class="col-3"></div>
	<div class="col-6">
		<img src="noauth.png" alt="no" />
		<h3>You shall not pass</h3>
		<h4>Without authentication</h4>
	</div>
</div>
