<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign up</title>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.js"></script>

    <!-- Icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <style>
      .box {
        padding: 7px 20px 5px 20px !important;
        border: 1px solid black;
        border-radius: 10px;
        transform: translateY(40%);
      }

      html {
        background-image: url('/bg.jpg');
        height: 100%;
        width: 100%;
        background-repeat: no-repeat;
        background-size: cover;
      }

      p.blue-text {
        font-size: small;
        margin: 6px;
      }
    </style>
  </head>

  <body>
    <div class="container row">
      <div class="center box col s12 m6 l4 push-m3 push-l4">
        <% if (error != undefined){ %>
        <p class="red"><%=error%></p>
        <% } %>
        <form action="/auth/signup" method="post" autocomplete="off">
          <div class="input-field">
            <input type="text" id="username" name="username" /><br />
            <label class="grey-text text-darken-2" for="username">Username</label>
          </div>
          <div class="input-field">
            <input type="password" id="password" name="password" />
            <label class="grey-text text-darken-2" for="password">Password</label>
          </div>
          <div class="input-field">
            <input type="password" id="cpassword" name="cpassword" />
            <label class="grey-text text-darken-2" for="cpassword">Confirm password</label>
          </div>
          <div>
            <button class="btn red waves-effect waves-light" type="submit" name="action">Sign Up
              <i class="material-icons right">send</i>
            </button>
          </div>
        </form>
        <a href="/login">
          <p class="blue-text">Login instead!</p>
        </a>
      </div>
    </div>

    <script>
      $(document).ready(() => {
        if ($('p.red').html().length > 0) {
          $('.box').css('transform', 'translateY(30%)')
        }
      })
    </script>
  </body>

</html>