a.active {
	background-color: #deb602;
	color: white;
	height: 64px;
}

@media (max-width: 600px) {
	a.active {
		height: 56px;
	}
}

.nav-wrapper {
	background-color: #6600ff;
}

input[type='file'] {
	display: none;
}

.uploader {
	border: 1px solid #ccc;
	display: inline-block;
	padding: 6px 12px;
	cursor: pointer;
}

body > div.row.section > div:nth-child(1) > p {
	white-space: pre-line;
	margin-top: -10px;
}

table {
	margin-bottom: 2rem;
}

ul.sidenav {
	padding-top: 4rem;
}
